body {
    background-color: #dbdbdb;
    font-size: 100%;
}

form input#note_text {
    width: 350px;
}

ul#stickies li {
    display: block;
    list-style: none;
    z-index: 1;
    float: left;
    margin: 30px;
    padding: 15px 15px 50px 15px;
    width: 200px;
    height: 200px;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
    background-color: lightgoldenrodyellow;
    color: black;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    /* overflow属性指定如果内容溢出一个
    元素的框，会发生什么
    visible、hidden、scroll、auto、inherit */
    overflow: hidden;
}

ul#stickies li span.sticky {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 200%;
}

ul#stickies li img.delete {
    position: absolute;
    left: 158px;
    top: 190px;
    /*for IE*/
    filter: alpha(opacity=0.3);
    opacity: 0.1;
    transition: opacity 1s;
    -moz-transition: opacity 1s;	/* Firefox 4 */
    -webkit-transition: opacity 1s;	/* Safari 和 Chrome */
    -o-transition: opacity 1s;	/* Opera */
}

ul#stickies li img.delete:hover {
    /*for IE*/
    filter: alpha(opacity=1);
    opacity: 1;
}

ul#stickies li:nth-child(even) {
    -webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}

ul#stickies li:nth-child(odd) {
    -webkit-transfrom: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

ul#stickies li:nth-child(3n) {
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	transform: rotate(1deg);
}

/* 
   Transform demo 
   Uses the transition (defined above) to ease in.
*/
ul#stickies li:hover {
	-webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
	-webkit-transform: rotate(0deg) scale(1.25);
	-moz-transform: rotate(0deg) scale(1.25);
	-o-transform: rotate(0deg) scale(1.25); /*IE 9*/
	-ms-transform: rotate(0deg) scale(1.25); /*Safari and Chrome*/
    transform: rotate(0deg) scale(1.25);
    background: linear-gradient(lightgoldenrodyellow, lightblue);
    z-index: 10;
}